# Ignore Pycharm files
.idea/*.*

# Ignore OSX files
.DS_Store

# Ignore the data set files inside the /data folder
# make sure the files copied over is in these paths
data/optional/*.dat
data/protocol/*.dat
data/*.txt

#ignore jupyter notebook workings
code/workings.ipynb
code/__pycache__/*.pyc
